@use "theme.scss";

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(max(11px, min(2.5vw, 16px)));
  transition: none;
}

body {
  background: var(--theme-background);
}

html,
body,
app-root,
app-root > .section {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Remove default margins
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  color: var(--theme-text-soft);
}

h2 {
  color: var(--theme-accent-light);
  font-weight: 100;
  font-size: 1.4rem;
}
