html {
  --theme-accent: #9e68e0;
  --theme-accent-light: #be93f1;
  --theme-accent-soft: #e0c7ff;

  // Text
  --theme-text: #e3f1ff;
  --theme-text-soft: color-mix(in oklab, var(--theme-text) 60%, transparent);

  --theme-border: #323847;
  --theme-border-soft: color-mix(
    in oklab,
    var(--theme-border) 50%,
    transparent
  );
  --theme-border-accent: color-mix(
    in oklab,
    var(--theme-accent) 25%,
    var(--theme-border)
  );

  --theme-background: #131314;
  --theme-background-light: #14141b;
}
