<h1>POÄNG.SE</h1>
<p>
  Denna webbsida är fortfarande under utveckling,
  <br />
  det går därför inte att skapa ett eget konto just nu.
</p>
<form class="inputs">
  <app-input
    #nameField
    [(value)]="name"
    [label]="'Användarnamn'"
    (onEnter)="selectPassword()"
  />
  <app-input
    #passwordField
    [(value)]="password"
    [label]="'Lösenord'"
    [hide]="true"
    (onEnter)="login()"
  />
  <app-button
    #loginButton
    label="Logga in"
    (click)="login()"
    [style]="'submit'"
    [loading]="loadingLogin"
  />
  <app-button
    #registerButton
    label="Registrera"
    (click)="register()"
    [loading]="loadingRegister"
  />
</form>
